[[source]]
name = "pypi"
url = "http://mirrors.aliyun.com/pypi/simple/"
verify_ssl = false

[dev-packages]

[packages]
certifi = "==2020.4.5.1"
chardet = "==3.0.4"
idna = "==2.9"
lxml = "==4.5.1"
requests = "==2.23.0"
urllib3 = "==1.25.9"
pillow = "~=8.0.1"

[requires]
python_version = "3.8"
